<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About</title>
</head>

<body>
    <h2>About
        <%= user.name %>
    </h2>
    <br />
    <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Commodi labore veritatis itaque molestiae! Ea voluptatum culpa minus expedita ipsum architecto necessitatibus voluptates officia numquam assumenda inventore autem explicabo corporis quo eos accusamus
        sapiente cupiditate, earum animi reprehenderit iure? Totam pariatur, blanditiis quae earum repellendus quibusdam cupiditate minus nihil. Recusandae repellendus voluptas nostrum quis placeat, non in ipsum culpa ad quisquam aperiam quos asperiores
        nihil quas maxime repellat inventore! Voluptates, sint porro, ducimus fugit architecto suscipit incidunt amet cum nesciunt a impedit nulla blanditiis, assumenda excepturi. Cumque harum, aperiam nemo non inventore deserunt laboriosam nostrum soluta
        ad ab quod blanditiis vel a neque corrupti optio necessitatibus! Reprehenderit ipsum deserunt odit eius exercitationem, at repellendus quo placeat. Repudiandae explicabo mollitia minus alias facilis odit ipsum in? Cumque nisi ducimus, earum sit
        magnam dolor recusandae tempora vitae ipsum repudiandae rem eius unde corrupti officia sequi cupiditate? Adipisci consectetur ab minima eveniet neque. Cumque esse officia tempore aliquam corporis, ad ipsam laborum suscipit consequatur sint repellendus.
        Est atque fugiat quae molestiae vitae dicta sunt praesentium porro saepe! Necessitatibus qui voluptatum est libero omnis pariatur dicta vero cum porro autem illum aliquid deserunt hic nihil minima quo deleniti reiciendis temporibus dolores sint
        officia, illo voluptates!
    </p>
</body>

</html>